<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Book Details</title>
</head>
<body>
<h1>Book Details</h1>
<p th:text="'Book:' +${addbook.title}"></p>
<p th:text ="'SKU: ' +${addbook.sku}"/>
<p th:text="'Author: ' +${addbook.author}"/>
<p th:text="'Price ' + ${addbook.price}"/>
<p th:text="'Description: ' +${addbook.description}"/>
<p><a href="/addbook">Add another book </a></p>
<p><a href="/getstarted">Go back to the start page</a></p>
</body>
</html>