<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Book Details</title>
</head>
<body>
<h1>Current Books in Database</h1>

<table border="2">
    <tr>
        <th>SKU</th>
        <th>TITLE</th>
        <th>AUTHOR(S)</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
    </tr>
<tr th:each="book : ${bookList}" >
    <td th:text="${book.sku}"/>
    <td th:text="${book.title}"/>
    <td th:text="${book.author}"/>
    <td th:text="${book.price}"/>
    <td th:text="${book.description}"/>

</tr>
</table>

<a href="/getstarted">Go back to the starter page</a>
</body>
</html>